.Main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 125px;
    padding: auto;
    font-family: 'Karla', sans-serif;
    color: #353636;
    padding-bottom: 40px;
}
.Personal {
    width: 50%;
}
.About {
    display: flex;
    flex-flow: row;
}
.About img {
    width: auto;
    height: 325px;
    margin: 30px 40px 30px 30px;
    box-shadow: 5px 5px #CCCCCC;
}
.About p {
    line-height: 22px;
    font-size: 15px;
}
.Info h1{
    margin-bottom: 10px; 
}
.Info h4{
    margin: 0;
    padding: 0;
    font-size: 15px;
}
hr {
    border: 1px solid #C7B299;
    border-radius: 5px;
    margin: 20px 0;

}
.links {
    display: flex;
    flex-flow: row;
    justify-content: center;
     margin-top: 10px;
}
.Education p {
    font-size: 14px;
}
.Link i {
    margin-right: 15px;
}
.Link {
    display: flex;
    flex-flow: row;
    margin: 20px 30px;
}
.Link {
    color: #353636;
    text-decoration: none;
}
.Link:hover {
    color: #C7B299;
}

.Link p {
    margin: 8px 0;
}
.Experiences {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 20px;
}
.Work {
    width: 400px;
    height: 120px;
    margin: 15px 40px;
    background-color: #C7B299;
    border-radius: 10px;
    box-shadow: 4px 4px #CCCCCC;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 4px;
    border: none;
}
.Work:hover {
    background-color: rgb(236, 203, 165); /* Green */
    box-shadow: 0 0 white;
    transform: translateX(3px);
}
.Work:active {
    background-color: rgb(138, 120, 99);
}


.Work:focus {
    outline: 0;
}
.Work h3{
    text-align: center;
    margin-top: 22px;
    color: #353636;
    font-size: 17px;
}

@media only screen and (max-width: 1300px) {
    .Main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: 20px;
      }
    .Personal {
        width: 80%;
    }
    .Experiences {
        align-items: center;
        margin-left: 0;
        width: 80%;
    }
}
@media only screen and (max-width: 940px) {
    .Personal {
        width: 90%;
    }
}
@media only screen and (max-width: 834px) {
    .About img {
        width: 0;
        margin: 0;
    }
    .Experiences {
        width: 90%;
    }
    .Main {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 720px) {
    .links {
        display: flex;
        flex-flow: wrap;
    }
    .Link {
        width: 30%;
    }
    
}
@media only screen and (max-width: 680px) {
    .Main {
        margin-left: 5%;
    }
    .Experiences {
        margin-left: 0;
        width: 95%;
    }
}
@media only screen and (max-width: 600px) {
    .Work {
        margin: 20px 35px;   
    }
    .Work h3{
        margin-top: 20px;
    }
    .Personal {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 550px) {
    .Work {
     width: 320px;
     height: 100px;
     margin: 15px 20px;
    }
    .Work h3{
        font-size: 16px;
    }
}
@media only screen and (max-width: 400px) {
    .Work {
        
        width: 270px;
        height: 80px;   
    }
    .Work h3 {
        margin-top: 18px;
    }
    .Link {
        margin-left: 13px;
    }
    .Info h4{
        font-size: 14px;
    }
    .Info h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 350px) {
    .Work {
        margin: 15px 5px;
        width: 260px;
        height: 80px;   
    }
    .Work h3{
        font-size: 13px;
    }
    .Info h1{
        font-size: 28px;
    }
    .Link {
        margin-left: 0px;
        width: 33%;
    }
}


